# Build & Target
target/
build/
*.class
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Node / Angular
frontend/node_modules/
frontend/.angular/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.editorconfig

# IDE & Editors
.idea/
*.iws
*.iml
*.ipr
.project
.classpath
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/
.metals
.DS_Store

# Environment & Docker
.env
.env.*
!.env.example
.env.local
*.env

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.blg
*.bbl
*.lof
*.lot
*.nav
*.snm
*.vrb
*.dvi
*.ps
*.gz
*.pdfsync
*.alg
*.acn
*.acr
*.glg
*.glo
*.gls
*.ist
*.maf
*.mtc
*.mtc0
*.pyg
*.bcf
*.run.xml
*.synctex(busy)
